@mixin comContainer {
  font-family: "app-system",Roboto,Arial,Helvetica,sans-serif;
  color: #eee;
  text-align: left;
  direction: ltr;
  font-size: 11px;
  line-height: 1.3;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.ws-player {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;

    .wsp-container {
        width: 100%;
        height: 100%;
        position: relative;
        margin: 0;
        padding: 0;
        @include comContainer();
        background-color: rgba(53, 61, 71, 0.8);
        .wsp-video-container {
            z-index: 0;
            position: relative;
            width: 100%;
            height: 100%;
            .wsp-video {
                width: 100%;
                height: 100%;
                object-fit: cover;
                display: block;
                position: absolute;
                left: 0px;
                top: 0px;
            }
        }
        .wsp-control-bottom {
            width: 100%;
            position: absolute;
            bottom: 0;
            height: 48px;
            z-index: 60;
            padding-top: 3px;
            text-align: left;
            direction: ltr;
            text-shadow: 0 0 2px rgb(0 0 0 / 50%);
            .wsp-progress-bar-container {
                height: 5px;
                cursor: pointer;
                display: block;
                position: absolute;
                width: 100%;
                bottom: 47px;
            }
            .wsp-controls {
                height: 48px;
                line-height: 48px;
                font-size: 109%;
                text-align: left;
                direction: ltr;
                .wsp-left-controls {
                    display: flex;
                    flex: 1;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    float: left;
                    height: 100%;
                }
                .wsp-right-controls {
                    float: right;
                    height: 100%;
                }
            }
        }
    }
}
